@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200&display=swap");

@media only screen and (min-width: 901px) {
  * {
    margin: 0;
    padding: 0;
    color: rgb(26, 43, 58);
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: "Josefin Sans", sans-serif;
    text-transform: capitalize;
    /* background: url('https://images.unsplash.com/photo-1498015583783-4abcab4a760a?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8Y2xvdWR8ZW58MHwxfDB8&auto=format&fit=crop&w=500&q=60');
    background-repeat: no-repeat;
    background-size: 100% 100%; */
  }

  .parent_div {
    width: 40vw;
    height: 80vh;
    border: 1px solid transparent;
    margin-top: 0vh;
    margin-left: 30vw;
    background: inherit;
    box-shadow: 2px 2px rgb(78, 86, 100);
  }
  input {
    width: 50%;
    height: 5%;
    margin: 5% 3% 5% 15%;
    border: none;
    outline: none;
    border-bottom: 1px solid;
    background: transparent;
    padding-left: 10px;
  }
  input::placeholder {
    margin-left: 10px;
    padding-bottom: 10px;
    text-align: center;
    word-spacing: 2px;
    letter-spacing: 1.5px;
    color: inherit;
    outline: transparent;
    background: transparent;
  }

  button {
    width: 15%;
    height: 5%;
    padding-bottom: 15px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid;
    letter-spacing: 1px;
  }

  .city_name {
    border: 1px solid white transparent;
    width: 30%;
    height: 8%;
    margin-left: 34%;
    text-align: center;
  }

  .child_div {
    width: 90%;
    height: 15%;
    border: 1px solid transparent;
    display: flex;
    margin: 5%;

    color: black;
  }

  .child_div_para {
    margin: 1% 1%;
    display: block;
    width: 50%;
    border: 1px solid transparent;
    text-align: center;
  }

  .max_temp {
    padding: 0 5px;
    padding-right: 10px;
    display: block;
  }
  .min_temp {
    padding: 0 5px;
    padding-left: 10px;
  }

  span {
    text-decoration: none;
    color: rgb(252, 244, 244);
    width: 100%;
  }
  .humadity,
  .description,
  .current_temp {
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
    width: 100%;
  }
}








@media only screen and (max-width: 900px) {
  * {
    margin: 0;
    padding: 0;
    color: rgb(26, 43, 58);
    font-size: 15px;
    letter-spacing: 0.5px;
    font-weight: 200;
    font-family: "Josefin Sans", sans-serif;
    text-transform: capitalize;
  }

  .parent_div {
    width: 90vw;
    height: 80vh;
    border: 1px solid;
    margin-top: 0vh;
    margin-left: 5%;
    background: inherit;
    box-shadow: 2px 2px rgb(78, 86, 100);
  }
  input {
    width: 50%;
    height: 6%;
    margin: 2% 5% 5% 10%;
    border: none;
    outline: none;
    border-bottom: 1px solid;
    background: transparent;
    padding: 10px;
  }
  input::placeholder {
    margin-left: 10px;
    text-align: center;
    word-spacing: 2px;
    letter-spacing: 1.5px;
    color: inherit;
    outline: transparent;
    background: transparent;
  }

  button {
    width: 20%;
    height: 12%;
    padding: 10px;
    outline: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid;
    letter-spacing: 1px;
  }

  .city_name {
    border: 1px solid white transparent;
    width: 30%;
    height: 8%;
    margin-left: 34%;
    text-align: center;
  }

  .child_div {
    width: 90%;
    height: 15%;
    border: 1px solid transparent;
    display: flex;
    margin: 5%;

    color: black;
  }

  .child_div_para {
    margin: 1% 1%;
    display: block;
    width: 50%;
    border: 1px solid transparent;
    text-align: center;
  }

  .max_temp {
    padding: 0 5px;
    padding-right: 10px;
    display: block;
  }
  .min_temp {
    padding: 0 5px;
    padding-left: 10px;
  }

  span {
    text-decoration: none;
    color: rgb(252, 244, 244);
    width: 100%;
  }
  .humadity,
  .description,
  .current_temp {
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
    width: 100%;
  }
}













@media only screen and (max-width:500px) {
  * {
    margin: 0;
    padding: 0;
    color: rgb(26, 43, 58);
    font-size: 15px;
    letter-spacing: 0.5px;
    font-weight: 200;
    font-family: "Josefin Sans", sans-serif;
    text-transform: capitalize;
  }

  .parent_div {
    width: 90vw;
    height: 80vh;
    border: 1px solid;
    margin-top: 0vh;
    margin-left: 5%;
    background: inherit;
    box-shadow: 2px 2px rgb(78, 86, 100);
  }
  input {
    width: 50%;
    height: 6%;
    margin: 2% 5% 5% 5%;
    border: none;
    outline: none;
    border-bottom: 1px solid;
    background: transparent;
    padding: 10px;
  }
  input::placeholder {
    margin-left: 10px;
    text-align: center;
    word-spacing: 2px;
    letter-spacing: 1.5px;
    color: inherit;
    outline: transparent;
    background: transparent;
  }

  button {
    width: 25%;
    height: 12%;
    padding: 10px;
    outline: none;
    background: transparent;
    border-bottom: 1px solid;
    letter-spacing: 1px;
    /* padding-bottom: 0px; */
  }

  .city_name {
    border: 1px solid white transparent;
    width: 30%;
    height: 8%;
    margin-left: 34%;
    text-align: center;
  }

  .child_div {
    width: 90%;
    height: 15%;
    border: 1px solid transparent;
    display: flex;
    margin: 5%;

    color: black;
  }

  .child_div_para {
    margin: 1% 1%;
    display: block;
    width: 50%;
    border: 1px solid transparent;
    text-align: center;
  }

  .max_temp {
    padding: 0 5px;
    padding-right: 10px;
    display: block;
  }
  .min_temp {
    padding: 0 5px;
    padding-left: 10px;
  }

  span {
    text-decoration: none;
    color: rgb(252, 244, 244);
    width: 100%;
    margin-top: 10px;
  }
  .humadity,
  .description,
  .current_temp {
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
    width: 100%;
  }
}


@media only screen and (max-width:400px){
   
    
    * {
        margin: 0;
        padding: 0;
        color: rgb(26, 43, 58);
        font-size: 15px;
        letter-spacing: 0.5px;
        font-weight: 200;
        font-family: "Josefin Sans", sans-serif;
        text-transform: capitalize;
      }
    
      .parent_div {
        width: 90vw;
        height: 80vh;
        border: 1px solid;
        margin-top: 0vh;
        margin-left: 5%;
        background: inherit;
        box-shadow: 2px 2px rgb(78, 86, 100);
      }
      input {
        width: 80%;
        height: 6%;
        margin: 2% 7%;
        border: none;
        outline: none;
        border-bottom: 1px solid ;
        background: transparent;
        padding: 10px;
      }
      input::placeholder {
        margin-left: 10px;
        text-align: center;
        word-spacing: 2px;
        letter-spacing: 1.5px;
        color: inherit;
        outline: transparent;
        background: transparent;
      }
    
      button {
        width: 25%;
        height: 10%;
        margin-left: 35%;
        padding: 5px;
        outline: none;
        background: transparent;
        border: 1px solid transparent;
        border-bottom: 1px solid;
        letter-spacing: 1px;
      }
    
      .city_name {
        border: 1px solid white transparent;
        width: 30%;
        height: 8%;
        margin-left: 34%;
        margin-top: 3%;
        text-align: center;
      }
    
      .child_div {
        width: 90%;
        height: 15%;
        border: 1px solid transparent;
        display: flex;
        margin: 5%;
    
        color: black;
      }
    
      .child_div_para {
        margin: 1% 1%;
        display: block;
        width: 50%;
        border: 1px solid transparent;
        text-align: center;
      }
    
      .max_temp {
        padding: 0 5px;
        padding-right: 10px;
        display: block;
      }
      .min_temp {
        padding: 0 5px;
        padding-left: 10px;
      }
    
      span {
        text-decoration: none;
        color: rgb(252, 244, 244);
        width: 100%;
        margin-top: 10px;
      }
      .humadity,
      .description,
      .current_temp {
        text-align: center;
        font-size: 20px;
        margin-top: 5px;
        width: 100%;
      }
}